$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.navbar > .container {
  margin: 0px 30px;
}

ng-map {
  position:absolute; 
  width:100%; 
  height:100%;
}

.gm-style-iw {
  top: 5px !important;
  left: 5px !important;
  width: 100px !important;

  > div {
    max-width: 110px !important;
  }

  p {
    margin: 0;
    width: 100px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
}
